adium-theme-ubuntu==0.3.4
asyncio==3.4.3
attrs==15.2.0
beautifulsoup4==4.4.1
chardet==2.3.0
cryptography==1.2.3
ecdsa==0.13
enum34==1.1.2
evdev==0.7.0
gyp==0.1
html5lib==0.999
httpie==0.9.2
idna==2.0
ipaddress==1.0.16
Kivy==1.9.0
lxml==3.5.0
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
ndg-httpsclient==0.4.0
numpy==1.13.3
PAM==0.4.2
pandas==0.21.0
paramiko==1.16.0
pbr==3.1.1
pexpect==4.0.1
ptyprocess==0.5
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycrypto==2.6.1
pygame===1.9.1release
Pygments==2.1
pygobject==3.20.0
pyodbc==3.0.7
pyOpenSSL==0.15.1
pyscard==1.9.2
pyserial==3.3
pysqlite==2.7.0
python-dateutil==2.6.1
pytz==2017.3
pywatchman==1.2.0
pyzmq==17.0.0
qt4reactor==1.0
requests==2.9.1
service-identity==16.0.0
six==1.11.0
stevedore==1.23.0
Twisted==16.0.0
unity-lens-photos==1.0
urllib3==1.13.1
vboxapi==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
websocket-client==0.46.0
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xmlschema==0.9.11
youtube-dl==2016.2.22
zeroless==1.0.0
zope.interface==4.1.3
